[importlinter:contract:infra-no-cross-imports]
name = rule_0
type = forbidden
source_modules =
    espnet.fileio
    espnet.utils
    espnet.torch_utils
    espnet.tokenizers
    espnet.schedulers
    espnet.optimizers
    espnet.fst
forbidden_modules =
    espnet.fileio
    espnet.utils
    espnet.torch_utils
    espnet.tokenizers
    espnet.schedulers
    espnet.optimizers
    espnet.fst

[importlinter:contract:macro-architecture]
name = rule_1
type = layers
layers =
    espnet.iterators
    espnet.samplers
    espnet.fileio

